
@{
    ViewData["Title"] = "Devam Eden Projelerimiz";
}
<!-- Main Section -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Devam Eden Projeler,Volass grup,Volass,Volass grup Devam Eden Projeler,İnşaat,Devam Projeleri,Volass İnşaat">
<meta name="description" content="VOLASS Grup'un devam eden projelerini keşfedin. İnşaat sektöründeki tecrübemizle kamu ve özel sektör için yenilikçi ve sürdürülebilir projeler geliştiriyoruz. Güncel projelerimiz hakkında detaylı bilgi alın.">
<link rel="canonical" href="https://volassgrup.com/Home/DEProjeler" />


<body class="projelerimiz-page">
     <div class="header-background"></div>
<div class="projects-section-proje">
    <h1>Devam Eden Projelerimiz</h1>
    <div class="projects-grid-proje">
        <!-- Proje 1 -->
    <a class="project-item-proje" href="/Home/Projedetay14">
        <img src="/images/projeler/proje14.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 6. Bölge 5. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

<a class="project-item-proje" href="/Home/Projedetay15">
        <img src="/images/projeler/proje15.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi, Dikmece Mahallesi 6. Bölge 1. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje" href="/Home/Projedetay16">
        <img src="/images/projeler/proje16.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi Karaali Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje" href="/Home/Projedetay17">
        <img src="/images/projeler/proje17.2.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Kahramanmaraş İli Elbistan İlçesi Karaelbistan Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      
        <a class="project-item-proje" href="/Home/Projedetay18">
        <img src="/images/projeler/proje18.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 1. Bölge 2. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>




        <!-- Daha fazla proje -->
        <!-- Yeni projeleri eklemek için yukarıdaki şablonu çoğaltabilirsiniz. -->
    </div>
</div>

</body>