
@{
    ViewData["Title"] = "Devam Eden Projelerimiz";
}
<!-- Main Section -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Devam Eden Projeler,Volass grup,Volass,Volass grup Devam Eden Projeler,İnşaat,Devam Projeleri,Volass İnşaat">
<meta name="description" content="VOLASS Grup'un devam eden projelerini keşfedin. İnşaat sektöründeki tecrübemizle kamu ve özel sektör için yenilikçi ve sürdürülebilir projeler geliştiriyoruz. Güncel projelerimiz hakkında detaylı bilgi alın.">
<link rel="canonical" href="https://volassgrup.com/Home/DEProjeler" />


<body class="projelerimiz-page">
     <div class="header-background"></div>
<div class="projects-section-proje">
    <h1>Devam Eden Projelerimiz</h1>
    <div class="projects-grid-proje">
        <!-- Proje 1 -->
    

  <a class="project-item-proje" href="/Home/Projedetay19">
    <img src="/images/projeler/proje19.1.png" alt="Devam Eden">
    <div class="project-overlay-proje">
        <h3>T.C. ÇEVRE ŞEHİRCİLİK BAKANLIĞI EMLAK KONUT / KAHRAMANMARAŞ DULKADİROĞLU MERKEZ 16 2. ETAP 1. KISIM</h3>
        <span class="icon-proje"><i class="fa fa-building"></i></span>
    </div>
</a>

  <a class="project-item-proje" href="/Home/Projedetay20">
    <img src="/images/projeler/proje20.8.jpeg" alt="Devam Eden">
    <div class="project-overlay-proje">
        <h3>Emlak konut Hatay 800 konut</h3>
        <span class="icon-proje"><i class="fa fa-building"></i></span>
    </div>
</a>




        <!-- Daha fazla proje -->
        <!-- Yeni projeleri eklemek için yukarıdaki şablonu çoğaltabilirsiniz. -->
    </div>
</div>

</body>