@{
    ViewData["Title"] = "Faaliyet Alanlarımız";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Faaliyet Alanları,Volass grup,Volass,Volass grup Faaliyet Alanları,İnşaat,İnşaat Projeleri,Volass İnşaat">
<meta name="description" content="VOLASS Grup olarak geniş faaliyet alanlarımızla inşaat sektöründe öncüyüz. Kamu ve özel sektöre yönelik projelerimizle altyapı, üstyapı ve yenilikçi çözümler sunuyoruz. Faaliyet alanlarımız hakkında detaylı bilgi alın.">
<link rel="canonical" href="https://volassgrup.com/Home/Faaliyetalani" />

<body class="faaliyetalani-page">
    
 <div class="header-background-faaliyet"></div>
<div class="faaliyet-alanlari-section">
    <h1>Faaliyet Alanlarımız</h1>
    <div class="faaliyet-grid">
        <!-- Kart 1 -->
        <div class="faaliyet-card">
            <a href="/Home/Faaliyetmuhendis" class="faaliyet-card">
                <img src="/images/insaat.jpg" alt="İnşaat">
            </a>
            <div class="faaliyet-content">
                <h3>Mühendislik ve İnşaat</h3>
                <p>Türkiye genelinde güçlü altyapı projeleri ve modern yapılar inşa ediyoruz.</p>
            </div>
        </div>

        <!-- Kart 2 -->
        <div class="faaliyet-card">
             <a href="/Home/Faaliyetmimar" class="faaliyet-card">
                <img src="/images/tasarım.jpg" alt="tasarım">
            </a>
            <div class="faaliyet-content">
                <h3>Tasarım ve Mimarlık</h3>
                <p>Yenilenebilir enerji projeleri ile sürdürülebilir bir gelecek inşa ediyoruz.</p>
            </div>
        </div>

        <!-- Kart 3 -->
        <div class="faaliyet-card">
             <a href="/Home/Faaliyetyatirim" class="faaliyet-card">
                <img src="/images/yatırım.jpg" alt="yatırım">
            </a>
            <div class="faaliyet-content">
                <h3>Gayrimenkul ve Yatırım</h3>
                <p>Modern ve yenilikçi ulaşım çözümleri ile şehirlerin geleceğini tasarlıyoruz.</p>
            </div>
        </div>


        <!-- Yeni faaliyet alanlarını eklemek için aynı yapıyı çoğaltabilirsiniz. -->
    </div>
</div>

</body>