@{
    ViewData["Title"] = "Anasayfa";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Anasaya,Volass grup,Volass,Volass grup Anasayfa,İnşaat,Üst Yapı Projeleri,Volass İnşaat">
<meta name="description" content=" VOLASS Grup olarak 1998 yılından bu yana deneyimimiz ve yenilikçi vizyonumuzla geleceği inşa ediyoruz. Kamu ve özel sektör projelerinde kaliteden ödün vermeden, sürdürülebilir ve güvenli yapılar üreterek yaşam alanlarına değer katıyoruz.">
<link rel="canonical" href="https://volassgrup.com/Home/Index" />

<h1 class="visually-hidden">Volass Grup - Ana Sayfa</h1>

<div id="main-section">
  <!-- Arkaplan videosu -->
  <div class="video-container">
    <video autoplay muted loop playsinline>
      <source src="https://youtu.be/MUtprZb1oXE" type="video/mp4">
      Tarayıcınız video elementini desteklemiyor.
    </video>
    <!-- "İzle" butonu: kullanıcıyı izleme sayfasına götürür -->
    <a href="/video/yeni" class="watch-button">
      <i class="fa-solid fa-play"></i> Videoyu İzle
    </a>
  </div>

  <button id="backToTop" class="top-button">
    <i class="fa-solid fa-arrow-up"></i>
  </button>
  <button id="scrollButton" class="scroll-button">
    <i class="fa-solid fa-chevron-down"></i>
  </button>
</div>

<!-- VideoObject şeması ekle -->
<script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "VideoObject",
  "name": "Volass Grup Tanıtım Videosu",
  "description": "Volass Grup'un yeni projelerine dair tanıtım videosudur. İnşaat ve üst yapı çözümlerimiz hakkında genel bir bakış sunar.",
  "thumbnailUrl": "https://volassgrup.com/images/videos/yeni-thumbnail.jpg",
  "uploadDate": "2025-05-08",
  "contentUrl": "https://youtu.be/MUtprZb1oXE",
  "embedUrl": "https://youtu.be/MUtprZb1oXE"
}
</script>

<section id="bolumFaaliyetler" class="hakkimizda-page-ana">
  <div class="genis-kapsayici">
    <div class="satir ortala alt-5 ust-4">
      <div class="sutun sutun-12 sutun-md-9">
        <h3 class=" anim-yukari" data-sure="2s" data-gecikme="0">
          KÖKLÜ DENEYİMİMİZ VE ÖNCÜ VİZYONUMUZLA 
        </h3>
        <h3 class=" alt-baslik" data-sure="2s" data-gecikme="0">
           GELECEĞİ İNŞA EDİYORUZ
        </h3>
        <p class="scroll-anim delay-400 anim-p" data-sure="2s" data-gecikme="0">
          VOLASS Grup olarak 1998 yılından bu yana deneyimimiz ve yenilikçi vizyonumuzla geleceği inşa ediyoruz. Kamu ve özel sektör projelerinde kaliteden ödün vermeden, sürdürülebilir ve güvenli yapılar üreterek yaşam alanlarına değer katıyoruz."
        </p>
        <h3 class="scroll-anim delay-200 anim-yukari" data-sure="2s" data-gecikme="0">
          FAALİYET ALANLARIMIZ
        </h3>
        
        <div class="satir ust-5">
          <div class="sutun scroll-anim delay-200">
            <img 
              src="/images/logo/saglik.png" 
              alt="Sağlık Yapıları" 
              class="scale-up" 
              data-sure="1s" 
              data-gecikme="0"
            >
            <span class="spanes fade-in delay-400">SAĞLIK YAPILARI </span>
          </div>
          <div class="sutun scroll-anim delay-400">
            <img 
              src="/images/logo/altust.png" 
              alt="Üst Yapı" 
              class="scale-up" 
              data-sure="1.3s" 
              data-gecikme="0"
            >
            <span class="spanes fade-in delay-600">TAAHHÜT İŞLERİ</span>
          </div>
          <div class="sutun scroll-anim delay-600">
            <img 
              src="/images/logo/egitim.png" 
              alt="Eğitim Yapıları" 
              class="scale-up" 
              data-sure="1.3s" 
              data-gecikme="0"
              >
            <span class="spanes fade-in delay-600">EĞİTİM YAPILARI</span>
          </div>
        
          
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Proje Listesi -->
<div class="proje-liste-kapsayici">
  <div class="proje-liste-icerik">

<!-- Üst Sekme Satırı -->
<div class="proje-header-satir">
  <div class="proje-header-baslik">
  </div>
  <div class="proje-header-sekmeler">
    <div class="proje-sekme aktif scroll-anim" id="sekmeTamamlanan">
      <img src="/images/logo/gelistirilen.svg" alt="Tamamlanan">
      <span>Tamamlanan</span>
    </div>
    <div class="proje-sekme scroll-anim delay-200" id="sekmeDevamEden">
      <img src="/images/logo/devam.svg" alt="Devam Eden">
      <span> Devam Eden</span>
    </div>
    <div class="proje-sekme scroll-anim delay-400" id="sekmeGelistirilen">
      <img src="/images/logo/devam.svg" alt="Geliştirilen">
      <span>Geliştirilen</span>
    </div>
    
    
  </div>
</div>

    <!-- Sekme 1'in (Devam Eden) içeriği -->
    <div class="proje-satir" id="tamamlanan">
      
      <div class="proje-kart slide-right">
        <a href="/Home/Projedetay3">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje3.7.jpeg" alt="Proje3">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Hastane</span>
            <h4>SAMSUN ŞEHİR HASTANESİ</h4>
          </div>
        </a>
      </div>
      
      <div class="proje-kart slide-right delay-200">
        <a href="/Home/Projedetay8">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje8.9.jpeg" alt="Proje8">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Hastane Projesi</span>
            <h4>BUCA DEVLET HASTANESİ</h4>
          </div>
        </a>
      </div>

      <div class="proje-kart slide-right delay-400">
        <a href="/Home/Projedetay2">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje2.1.jpeg" alt="Proje2">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Eğitim Projesi</span>
            <h4>T.C. MALİYE BAKANLIĞI YÜKSEK EĞİTİM MERKEZİ</h4>
          </div>
        </a>
      </div>

      <div class="proje-kart slide-left">
        <a href="/Home/Projedetay1">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje1.8.jpeg" alt="Proje1">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Konut Projesi</span>
            <h4>TİZİ OUZOU</h4>
          </div>
        </a>
      </div>

      <div class="proje-kart slide-left delay-200">
        <a href="/Home/Projedetay4">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje4.3.jpeg" alt="Proje4">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Konut Projesi</span>
            <h4>AVROCİTY LÜKS KONUT PROJESİ</h4>
          </div>
        </a>
      </div>

      <div class="proje-kart slide-left delay-400">
        <a href="/Home/Projedetay5">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje5.3.jpeg" alt="Proje5">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Eğitim Projesi</span>
            <h4>DUHOK ÜNİVERSİTESİ KONGRE MERKEZİ</h4>
          </div>
        </a>
      </div>


<div class="row justify-content-center proje-footer-satir">
  <div class="col-12 col-md-10">
    <div class="row">
      <div class="col-12 text-end">
        <a class="btn-green-dark fade-in" href="/Home/TProjeler">
          Tüm Projeler >
        </a>
      </div>
    </div>
  </div>
</div>

    </div>

    <!-- Sekme 2'nin (Tamamlanan) içeriği -->
    <div class="proje-satir gizle" id="devamEden">
         
      <div class="proje-kart slide-right delay-200">
        <a href="/Home/Projedetay19">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje19.1.png" alt="Proje19">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Konut Projesi</span>
            <h4>T.C. BAKANLIĞI EMLAK KONUT</h4>
          </div>
        </a>
      </div>

         
      <div class="proje-kart slide-right delay-200">
        <a href="/Home/Projedetay20">
          <div class="proje-kart-img">
            <img src="/images/projeler/proje20.5.jpeg" alt="Proje20">
          </div>
          <div class="proje-kart-aciklama">
            <span>Üst Yapı</span>
            <span class="no-border">Konut Projesi</span>
            <h4>EMLAK KONUT HATAY</h4>
          </div>
        </a>
      </div>


    </div>

    <!-- Sekme 3'ün (Geliştirilen) içeriği -->
    <div class="proje-satir gizle" id="gelistirilen">
     
       

    </div>

  </div>

 

</div>
 <!-- En Alt Kısım (Tüm Projeler Butonu) -->

<section class="sayilarla-section">
  <div class="sayilarla-container">
    <h2 class="scroll-anim">Son Projelerimiz</h2>
    
    <div class="sayi-content">
      <!-- SOLDAN YAZILARIN OLDUĞU KISIM -->
      <div class="left">
        <h3 class="scroll-anim">Rakamlarla Volass Grup</h3>
        <p class="scroll-anim delay-200">
          Yılların vermiş olduğu tecrübe ile kamu ve özel sektörde üstlendiğimiz birçok projeyi
          başarılı bir şekilde yürüterek kalitemizi ve hizmet verdiğimiz alanlardaki yetkinliğimizi ispatladık.
        </p>
        <ul class="sayilar-list">
          <li class="sayilar-item fade-in delay-200">
            * Firmamız, faaliyet gösterdiği alanda yılların verdiği bilgi birikimi ve
            tecrübeyle hizmetinizdedir.
          </li>
          <li class="sayilar-item fade-in delay-400">
            * Alanında uzman kalifiye personelimiz ve son teknoloji modern araçlarımız ile hizmet veriyoruz.
          </li>
          <li class="sayilar-item fade-in delay-600">
            * Tüm hizmetlerimizde en önemli önceliğimiz müşterilerimizin memnuniyetidir.
          </li>
        </ul>
        <button class="contact-btn scale-up delay-400" onclick="window.location.href='/Contact/Iletisim'">
          Bize Ulaşın
        </button>
      </div> <!-- .left KAPANIŞI -->

      <!-- SAĞDAKİ DÖNEN DAİRE KISMI -->
      <div class="circle-tabs scale-up" id="circleTabs">
        <!-- Dış kapsayıcı (ikonlar) -->
        <div class="icons-wrapper" id="iconsWrapper">
          <div class="icon-tab active" data-tab="1">
            <i class="fa fa-paint-brush"></i>
          </div>
          <div class="icon-tab" data-tab="2">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="icon-tab" data-tab="3">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="icon-tab" data-tab="4">
            <i class="fa fa-building"></i>
          </div>
        </div>
        
        <!-- Büyük içerik dairesi -->
        <div class="content-circle">
          <!-- Her sekmeye ait içerik alanı -->
          <div class="circle-content active" data-tab="1">
            <h2>Özel Sektör</h2>
                <p class="circle-number">350+</p>

          </div>
          <div class="circle-content" data-tab="2">
            <h2>Tecrübe</h2>
                <p class="circle-number">+20 Yıl</p>

          </div>
          <div class="circle-content" data-tab="4">
            <h2>Kamu Projesi</h2>
                <p class="circle-number">100+</p>

          </div>
          <div class="circle-content" data-tab="3">
            <h2>Makina</h2>
                <p class="circle-number">180+</p>

          </div>
        </div>
      </div>
    </div><!-- .sayi-content KAPANIŞI -->
  </div><!-- .sayilarla-container KAPANIŞI -->
</section>






<div class="references-section">
  <h2 class="scroll-anim">REFERANSLAR</h2>
  <div class="references-carousel">
    <div class="references-logos fade-in" id="logo-carousel">
      <div class="logo-box scale-up">
        <img src="/images/logo/toki.jpeg" alt="TCDD">
      </div>
      <div class="logo-box scale-up delay-200">
        <img src="/images/logo/emlak.jpeg" alt="Devlet Hava Meydanları İşletmesi">
      </div>
      <div class="logo-box scale-up delay-400">
        <img src="/images/logo/grbag_construction_logo.jpeg"   alt="Türk Silahlı Kuvvetleri">
      </div>
      <div class="logo-box scale-up delay-600">
        <img src="/images/logo/srl-logo.png" alt="Türk Hava Kuvvetleri">
      </div>
      <div class="logo-box scale-up delay-200">
        <img src="/images/logo/logo-01.png" alt="Çevre ve Şehircilik Bakanlığı">
      </div>
      
      <div class="logo-box scale-up delay-400">
        <img src="/images/logo/simetrii.jpeg" alt="Devlet Hava Meydanları İşletmesi">
      </div>
      
      
    
</div>

</div>




</div>

<!-- JavaScript for scroll animations -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Get all elements that should be animated on scroll
  const animElements = document.querySelectorAll('.scroll-anim, .fade-in, .slide-right, .slide-left, .scale-up');
  
  // Function to check if element is in viewport
  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    const offset = 100; // Activate animation before element is fully in viewport
    return (
      rect.top <= (window.innerHeight - offset) &&
      rect.bottom >= 0
    );
  }
  
  // Function to add visible class to elements in viewport
  function checkScroll() {
    animElements.forEach(element => {
      if (isInViewport(element)) {
        element.classList.add('visible');
      }
    });
  }
  
  // Check elements on initial load
  checkScroll();
  
  // Check elements on scroll
  window.addEventListener('scroll', checkScroll);
});
</script>
