@{
    ViewData["Title"] = "Projelerimiz";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Güncellenmiş Anahtar Kelimeler -->
<meta name="keywords" content="Projeler, Volass Grup, Konut Projeleri, Tamamlanan Projeler, Kentsel Dönüşüm, Emlak Yatırımı, İnşaat ve Yatırım">

<!-- Güncellenmiş Açıklama -->
<meta name="description" content="VOLASS Grup'un projelerinin tamamını keşfedin. İnşaat sektöründeki tecrübemizle kamu ve özel sektör için yenilikçi ve sürdürülebilir projeler geliştiriyoruz. Güncel projelerimiz hakkında detaylı bilgi alın.">

<!-- Sayfa Başlığı -->

<!-- Canonical Link -->
<link rel="canonical" href="https://volassgrup.com/Home/Projeler" />

<!-- Görsel olarak gizlenmiş SEO uyumlu H1 -->

<body class="projelerimiz-page">
     <div class="header-background"></div>
<div class="projects-section-proje">
    <h1 class="scroll-anim">Projelerimiz</h1>
    <div class="projects-grid-proje">
        <!-- Proje 1 -->
    <a class="project-item-proje scroll-anim" href="/Home/Projedetay1">
        <img src="/images/projeler/proje1.8.jpeg" alt="Tizi Ouzou">
        <div class="project-overlay-proje">
        <h3>Tizi Ouzou</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

        <!-- Proje 2 -->
         <a class="project-item-proje scroll-anim delay-200" href="/Home/Projedetay2">
        <img src="/images/projeler/proje2.1.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>T.C. Maliye Bakanlığı Yüksek Eğitim Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 3 -->
          <a class="project-item-proje scroll-anim delay-400" href="/Home/Projedetay3">
        <img src="/images/projeler/proje3.7.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>T.C. Sağlık Bakanlığı Samsun Şehir Hastanesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje scroll-anim delay-600" href="/Home/Projedetay4">
        <img src="/images/projeler/proje4.10.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Avrocity Lüks Konut Projesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


<a class="project-item-proje scroll-anim" href="/Home/Projedetay5">
        <img src="/images/projeler/proje5.6.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Duhok Üniversitesi Kongre Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje scroll-anim delay-200" href="/Home/Projedetay6">
        <img src="/images/projeler/proje6.2.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Zaho Üniversitesi Araştırma Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


<a class="project-item-proje scroll-anim delay-400" href="/Home/Projedetay7">
        <img src="/images/projeler/proje7.2.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Elazığ TOKİ Toplu Konut Projeleri</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje scroll-anim delay-600" href="/Home/Projedetay8">
        <img src="/images/projeler/proje8.5.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>T.C. Sağlık Bakanlığı İzmir - Buca Devlet Hastanesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>



        <!-- Proje 4 -->
         <a class="project-item-proje scroll-anim" href="/Home/Projedetay9">
        <img src="/images/projeler/proje9.2.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Sivas Öğrenci Yurdu</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>



        <!-- Proje 4 -->
         <a class="project-item-proje scroll-anim delay-200" href="/Home/Projedetay10">
        <img src="/images/projeler/proje10.6.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Nusaybin Toki Projesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

  <a class="project-item-proje scroll-anim delay-400" href="/Home/Projedetay11">
        <img src="/images/projeler/proje11.1.jpg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>T.C. ÇEVRE ŞEHİRCİLİK VE İKLİM DEĞİŞİKLİĞİ BAKANLIĞI TOKİ</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      <a class="project-item-proje scroll-anim delay-600" href="/Home/Projedetay12">
        <img src="/images/projeler/proje12.2.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Helenium Wings</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      <a class="project-item-proje scroll-anim" href="/Home/Projedetay13">
        <img src="/images/projeler/proje13.1.jpeg" alt="Star of Bosphorus Datacenter">
        <div class="project-overlay-proje">
        <h3>Garden Life</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

    <a class="project-item-proje scroll-anim delay-200" href="/Home/Projedetay14">
        <img src="/images/projeler/proje14.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 6. Bölge 5. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

    <a class="project-item-proje scroll-anim delay-400" href="/Home/Projedetay15">
        <img src="/images/projeler/proje15.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi, Dikmece Mahallesi 6. Bölge 1. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje scroll-anim delay-600" href="/Home/Projedetay16">
        <img src="/images/projeler/proje16.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi Karaali Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje scroll-anim" href="/Home/Projedetay17">
        <img src="/images/projeler/proje17.2.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Kahramanmaraş İli Elbistan İlçesi Karaelbistan Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      
        <a class="project-item-proje scroll-anim delay-200" href="/Home/Projedetay18">
        <img src="/images/projeler/proje18.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 1. Bölge 2. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

  <a class="project-item-proje scroll-anim delay-400" href="/Home/Projedetay19">
    <img src="/images/projeler/proje19.1.png" alt="Devam Eden">
    <div class="project-overlay-proje">
        <h3>T.C. ÇEVRE ŞEHİRCİLİK BAKANLIĞI EMLAK KONUT / KAHRAMANMARAŞ DULKADİROĞLU MERKEZ 16 2. ETAP 1. KISIM</h3>
        <span class="icon-proje"><i class="fa fa-building"></i></span>
    </div>
</a>

      <a class="project-item-proje scroll-anim delay-600" href="/Home/Projedetay20">
    <img src="/images/projeler/proje20.8.jpeg" alt="Devam Eden">
    <div class="project-overlay-proje">
        <h3>Emlak konut Hatay 800 konut</h3>
        <span class="icon-proje"><i class="fa fa-building"></i></span>
    </div>
</a>

        <!-- Daha fazla proje -->
        <!-- Yeni projeleri eklemek için yukarıdaki şablonu çoğaltabilirsiniz. -->
    </div>
</div>

<!-- JavaScript for scroll animations -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Get all elements that should be animated on scroll
  const animElements = document.querySelectorAll('.scroll-anim, .fade-in, .slide-right, .slide-left, .scale-up');
  
  // Function to check if element is in viewport
  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    const offset = 100; // Activate animation before element is fully in viewport
    return (
      rect.top <= (window.innerHeight - offset) &&
      rect.bottom >= 0
    );
  }
  
  // Function to add visible class to elements in viewport
  function checkScroll() {
    animElements.forEach(element => {
      if (isInViewport(element)) {
        element.classList.add('visible');
      }
    });
  }
  
  // Check elements on initial load
  checkScroll();
  
  // Check elements on scroll
  window.addEventListener('scroll', checkScroll);
});
</script>
</body>