@{
    ViewData["Title"] = "Tamamlanan Projelerimiz";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Tamamlanan,Volass grup,Volass,Volass grup Projeler,İnşaat,Üst Yapı Projeleri,Volass İnşaat">
<meta name="description" content=" VOLASS Grup'un tamamlanan projelerini keşfedin. İnşaat sektöründeki tecrübemizle kamu ve özel sektör için yenilikçi ve sürdürülebilir projeler geliştiriyoruz. Güncel projelerimiz hakkında detaylı bilgi alın.">
<link rel="canonical" href="https://volassgrup.com/Home/TProjeler" />

<body class="projelerimiz-page">
     <div class="header-background"></div>
<div class="projects-section-proje">
    <h1>Tamamlanan Projelerimiz</h1>
    <div class="projects-grid-proje">
        <!-- Proje 1 -->
    <a class="project-item-proje" href="/Home/Projedetay1">
        <img src="/images/projeler/proje1.8.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Tizi Ouzou</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

        <!-- Proje 2 -->
         <a class="project-item-proje" href="/Home/Projedetay2">
        <img src="/images/projeler/proje2.1.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>T.C. Maliye Bakanlığı Yüksek Eğitim Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 3 -->
          <a class="project-item-proje" href="/Home/Projedetay3">
        <img src="/images/projeler/proje3.7.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>T.C. Sağlık Bakanlığı Samsun Şehir Hastanesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje" href="/Home/Projedetay4">
        <img src="/images/projeler/proje4.10.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Avrocity Lüks Konut Projesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


<a class="project-item-proje" href="/Home/Projedetay5">
        <img src="/images/projeler/proje5.6.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Duhok Üniversitesi Kongre Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje" href="/Home/Projedetay6">
        <img src="/images/projeler/proje6.2.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Zaho Üniversitesi Araştırma Merkezi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


<a class="project-item-proje" href="/Home/Projedetay7">
        <img src="/images/projeler/proje7.2.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Elazığ TOKİ Toplu Konut Projeleri</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>


        <!-- Proje 4 -->
         <a class="project-item-proje" href="/Home/Projedetay8">
        <img src="/images/projeler/proje8.5.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>T.C. Sağlık Bakanlığı İzmir - Buca Devlet Hastanesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>



        <!-- Proje 4 -->
         <a class="project-item-proje" href="/Home/Projedetay9">
        <img src="/images/projeler/proje9.2.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Sivas Öğrenci Yurdu</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>



        <!-- Proje 4 -->
         <a class="project-item-proje" href="/Home/Projedetay10">
        <img src="/images/projeler/proje10.6.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Nusaybin Toki Projesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

  <a class="project-item-proje" href="/Home/Projedetay11">
        <img src="/images/projeler/proje11.1.jpg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>T.C. ÇEVRE ŞEHİRCİLİK VE İKLİM DEĞİŞİKLİĞİ BAKANLIĞI TOKİ</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      <a class="project-item-proje" href="/Home/Projedetay12">
        <img src="/images/projeler/proje12.2.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Helenium Wings</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      <a class="project-item-proje" href="/Home/Projedetay13">
        <img src="/images/projeler/proje13.1.jpeg" alt="Tamamlanan">
        <div class="project-overlay-proje">
        <h3>Garden Life</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
    <a class="project-item-proje" href="/Home/Projedetay14">
        <img src="/images/projeler/proje14.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 6. Bölge 5. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

<a class="project-item-proje" href="/Home/Projedetay15">
        <img src="/images/projeler/proje15.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi, Dikmece Mahallesi 6. Bölge 1. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje" href="/Home/Projedetay16">
        <img src="/images/projeler/proje16.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi Karaali Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
     <a class="project-item-proje" href="/Home/Projedetay17">
        <img src="/images/projeler/proje17.2.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Kahramanmaraş İli Elbistan İlçesi Karaelbistan Mahallesi</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>
      
        <a class="project-item-proje" href="/Home/Projedetay18">
        <img src="/images/projeler/proje18.1.jpeg" alt="Devam Eden">
        <div class="project-overlay-proje">
        <h3>Hatay İli Antakya İlçesi 1. Bölge 2. Etap</h3>
            <span class="icon-proje"><i class="fa fa-building"></i></span>
        </div>
    </a>

  
     
        <!-- Daha fazla proje -->
        <!-- Yeni projeleri eklemek için yukarıdaki şablonu çoğaltabilirsiniz. -->
    </div>
</div>

</body>