.faaliyetmimar-page {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.alt-baslik-container-mimar {
    /* Ortalamayı garanti altına al */
    font-family: Arial, sans-serif;
padding: 50px;   
 color: #333;
    width: 100vw; /* Genişlik */
    background-color: transparent;
    background: url("/images/logo/bey.jpg") no-repeat center center;
    background-size:cover ;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    justify-content: center; /* Dikey ortalama */
    align-items: center; /* Yatay ortalama */
}

/* Görsel Konteyneri */
.image-container-mimar {
    margin-bottom: 20px; /* Yazıyla arasına boşluk */
    display: flex; /* Flexbox */
    width: 80%;
    height: 350px;
    justify-content: center; /* Görseli ortala */
}

.image-container-mimar img {
    width: 100%; /* Görseli kapsayıcıya sığdır */
    height: auto; /* Yüksekliği orantılı tut */
    border-radius: 10px; /* Köşeleri yuvarlat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

/* Metin Konteyneri */
.text-container-mimar {
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-background-fmimar{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 400px;
    background: url('/images/logo/mimmmar.jpg') no-repeat center center/cover;
    z-index: -1;
}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

/* Başlık */
.text-container-mimar h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

/* Paragraflar */
.text-container-mimar p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #555;
}

/* Vurgulanan Yazılar */
.text-container-mimar strong {
    color: #000;
    font-weight: bold;
}
